################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UP.Practice.Core.API/UP.Practice.Core.API/obj
